<script type="x-handlebars-template">
	<ul class=subnav-list>
		<li class="new">New</li>
		<li class="returning">Returning</li>
		<li class="historical-comparison">Historical Comparison</li>
	</ul>
</script>