<script type="x-handlebars-template">
	<ul class=subnav-list>
		<li class="all active-subnav">All</li>
		<li class="new">New</li>
		<li class="returning">Returning</li>
		<li class="people">People</li>
		<li class="stats">Stats</li>
	</ul>
</script>